/****** css common rules ******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    min-width: 1400px;
}

a{
    text-decoration: none;
}

p {
    line-height: 1.8rem;
}

/****** /END/ css common rules ******/

/****** css double nav  ******/


.light_bg {
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid black;
}

.col_nav {
    line-height: 10vh;
    vertical-align: middle;
    width: 50%;
}

.col_nav>*:not(button){
    line-height: 10vh;
    vertical-align: middle;
}

.col_nav > ul > li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 1.2rem;
}

.col_nav > ul > i {
    margin-left: 0.5rem
}

.col_nav a {
    color: #33475b
}

.col_nav .eng {
    margin: 0 1.2rem;
}

.col_nav button {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.brd_orange {
    background-color:  rgb(244, 249, 253);
    border: 1px solid rgb(254, 119, 90);
}

.fill_orange {
    background-color: rgb(254, 119, 90);
    border: none;
}

.brd_orange > a {
    color: rgb(254, 119, 90);
}

.fill_orange > a {
    color: white;
}

.upper_nav img {
    height: 2%;
    width: 2%;
}
/****** /END/ css double nav ******/

/****** css jumbotron ******/

.hero_image {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(70vh - 2px);
}

.hero_titles {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 100px;
    width: 30%;
}

.hero_titles >*{
    margin-bottom: 2rem;
    color: #33475b;
}

.hero_titles>h1 {
    font-size: 45px;
}

.hero_titles>button {
    padding: 1rem 2rem;
    border-radius: 5px;
}
/***** /END/ css jumbotron ******/


/****** css colored line ******/
.color_line {
    height: 10vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(175, 235, 228);
}
/****** /END/ css colred line ******/

/****** css light blue section ******/
.learn_more {
    padding: 1.5rem 3.5rem;
    border-radius: 5px;
    margin: auto;
}

.col_container {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* css cube part */
.cards_section {
    background-color: rgb(244, 249, 253);
    height: 200vh;
}

.box {
    height: 50vh;
}

.cubecard {
    height: 100%;
    width: 100%;
    color: #33475b;
    padding-top: 2.5rem;
    text-align: center;
}

.cubecard>h2 {
    font-size: 35px;
}

.cubecard>*{
    margin-bottom: 1.5rem;
}

.cube_img {
    background-image: url(../img/cube.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55%;
    margin: auto;
}
/* /END/css cube part */


/* css head card section */
.col_learn_left {
    width: 30%;
    height: 100%;
}

.col_learn_right {
    width: 70%;
    height: 100%;
}

.cards_title {
    font-size: 25px;
    padding: 3rem 0;
}

/* css head card column left */
.crm_card {
    height: 100%;
    color: #33475b

}

.card {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding: 3rem 0rem;

}

.card_img {
    width: 50%;
    margin: auto;
    height: 50%;
    padding: 1rem 0;
}

#book_img {
    background-image: url(../img/book.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* /END/css head card column left */
/* css head card column right */
.col_learn_right>h2 {
    margin: 1.5rem 0;
    font-size: 25px;
    color: #33475b;
}

.col_learn_right>p{
    margin-bottom: 2rem;
}

.line {
    background-color: #33475b;
    height: 1px;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;
}

.checked_list {
    margin-top: 3rem;
}

.checked {
    margin-right: 2rem;
}

.checked::before{
    content: "\2713";
    background-color: rgb(254, 119, 90);
    padding: 0.1rem 0.25rem;
    border-radius: 20px;
    color: white;
    margin-right: 1rem;
}
/* /END/ css head card colum right */
/* /END/ css head card section */

/* css three cards section */
.three_cards {
    padding: 10vh 0;
    background-color: rgb(244, 249, 253);
    color: #33475b;
}
.threecards_container>.float {
    width: calc(100% / 3);
    height: 80vh;
}

.col_left {
    background-color: yellowgreen;
    padding: 1rem;
}
.col_center {
    background-color: violet;
    padding: 1rem;
}
.col_right {
    background-color: teal;
    padding: 1rem;
}

.buble_img {
    background-image: url(../img/buble.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 25%;
}


.card_left, .card_center, .card_right {
    height: 100%;
    width: 100%;
}

/****** css utility rules ******/
.float {
    float: left;
}

.right {
    text-align: right;
}

.page {
    height: 100vh;
}

.relative {
    position: relative;
}

.center {
    width: 80%;
    margin: auto;
}

.note {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}