/****** css common rules ******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: auto;
    
}
/****** /END/ css common rules ******/

/****** css double nav  ******/


.light_bg {
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid black;
}

.col_nav {
    line-height: 10vh;
    vertical-align: middle;
    display: inline;
    width: 50%;
}

.col_nav>*:not(button){
    line-height: 10vh;
    vertical-align: middle;
}

.globe_icon {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #33475b;
    border-radius: 50px;
}

.col_nav>ul>li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

.upper_nav img {
    height: 2%;
    width: 2%;
}
/****** /END/ css double nav ******/

/****** css jumbotron ******/

.hero_image {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(70vh - 2px);
}

.hero_titles {
    position: absolute;
    top: 40%;
    left: 10%;
    height: 100px;
    width: 50%;
}

/****** css colored line ******/
.color_line {
    height: 10vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: aquamarine;
}

/****** css light blue section ******/

.card_section {
    background-color: rgb(244, 249, 253);
    height: 200vh;
}


/****** css utility rules ******/
.float {
    float: left;
}

.right {
    text-align: right;
}

.page {
    height: 100vh;
}

.realative {
    position: relative;
}

.center {
    width: 80%;
    margin: auto;
}