/****** css common rules ******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    min-width: 1400px;
}

a{
    text-decoration: none;
}

p {
    line-height: 1.8rem;
}

/****** /END/ css common rules ******/

/****** css double nav  ******/


.light_bg {
    background-color: rgb(244, 249, 253);
}

.col_nav {
    line-height: 10vh;
    vertical-align: middle;
    width: 50%;
}

.col_nav>*:not(button){
    line-height: 10vh;
    vertical-align: middle;
}

.col_nav > ul > li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 1.2rem;
}

.col_nav > ul > i {
    margin-left: 0.5rem
}

.col_nav a {
    color: #33475b
}

.col_nav .eng {
    margin: 0 1.2rem;
}

.col_nav button {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.brd_orange {
    background-color:  rgb(244, 249, 253);
    border: 1px solid rgb(254, 119, 90);
}

.fill_orange {
    background-color: rgb(254, 119, 90);
    border: none;
}

.brd_orange > a {
    color: rgb(254, 119, 90);
}

.fill_orange > a {
    color: white;
}

.upper_nav img {
    height: 2%;
    width: 2%;
}
/****** /END/ css double nav ******/

/****** css jumbotron ******/

.hero_image {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(70vh - 2px);
}

.hero_titles {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 100px;
    width: 30%;
}

.hero_titles>*,.w_square_left>*{
    margin-bottom: 2rem;
    color: #33475b;
}

.hero_titles>h1 {
    font-size: 45px;
}

.hero_titles, .w_square_left>button {
    padding: 1rem 2rem;
    border-radius: 5px;
}
/***** /END/ css jumbotron ******/


/****** css colored line ******/
.color_line {
    height: 10vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(175, 235, 228);
}
/****** /END/ css colred line ******/

/****** css light blue section ******/
.learn_more {
    padding: 1.5rem 3.5rem;
    border-radius: 5px;
    margin: auto;
}

.col_container {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* css cube part */
.cards_section {
    background-color: rgb(244, 249, 253);
    height: 200vh;
}

.box {
    height: 50vh;
}

.cubecard {
    height: 100%;
    width: 100%;
    color: #33475b;
    padding-top: 2.5rem;
    text-align: center;
}

.cubecard>h2 {
    font-size: 35px;
}

.cubecard>*{
    margin-bottom: 1.5rem;
}

.cube_img {
    background-image: url(../img/cube.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55%;
    width: 45%;
    margin: auto;
}
/* /END/css cube part */


/* css head card section */
.col_learn_left {
    width: 30%;
    height: 100%;
}

.col_learn_right {
    width: 70%;
    height: 100%;
}

.cards_title {
    font-size: 25px;
    padding: 1rem 0 2rem;
}

/* css head card column left */
.crm_card {
    height: 100%;
    color: #33475b
}

.pop_fe {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding: 3rem 0rem;

}

.card_img {
    width: 50%;
    margin: auto;
    height: 50%;
    padding: 1rem 0;
}

#book_img {
    background-image: url(../img/book.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* /END/css head card column left */
/* css head card column right */
.col_learn_right>h2 {
    margin: 1.5rem 0;
    font-size: 25px;
    color: #33475b;
}

.col_learn_right>p{
    margin-bottom: 2rem;
}

.col_learn_right>h3 {
    display: inline-block;
}

.line {
    background-color: #33475b;
    height: 1px;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;
}

.checked_list {
    margin-top: 3rem;
}

.checked {
    margin-right: 2rem;
}

.checked::before{
    content: "\2713";
    background-color: rgb(254, 119, 90);
    padding: 0.1rem 0.25rem;
    border-radius: 20px;
    color: white;
    margin-right: 1rem;
}
/* /END/ css head card colum right */
/* /END/ css head card section */

/* css three cards section */
.three_cards {
    padding: 5vh 0;
    background-color: rgb(244, 249, 253);
    color: #33475b;
}

.card_left, .card_center, .card_right {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding: 3rem;
}

.threecards_container>.float {
    width: calc(100% / 3);
    height: 90vh;
}

.threecards_container .checked {
    text-align: left;
}

.threecards_container button {
    margin-top: 3rem;
}

.threecards_container>.float {
    padding: 1rem
}

.three_img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
}

#buble {
    background-image: url(../img/buble.svg);
}

#office {
    background-image: url(../img/office.svg);
}

#table {
    background-image: url(../img/table.svg);
}

.line_cards {
    background-color: #33475b;
    height: 1px;
    width: 80%;
    margin: 3rem auto 2rem;
}

.card_left, .card_center, .card_right {
    height: 100%;
    width: 100%;
    text-align: center;
}
/* /END/ css three cards section */
/****** /END/ css light blue section ******/

/****** css bluegreen section ******/
.blue_green_bg {
    background: linear-gradient(45deg, #00a4bd, #00bda5);
    height: 100%;
}

.blue_green_container {
    height: 100%;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

.blue_green_container h2 {
    font-size: 40px;
    padding-bottom: 2rem;
}

.blue_green_container p {
    font-size: 19px;
    padding-bottom: 2rem;
}

.blue_green_row {
    width: 100%;
    height: 30vh;
}

.upper_row {
    border-bottom: 1px solid white;
}

.blue_green_square {
    width: 25%;
    height: 100%;
    padding: 2rem;
}

.bg_box {
    height: 20%;
    width: 100%;
    margin-bottom: 2rem;
}

.blue_green_img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.blue_green_numbers {
    font-size: 50px;
    margin: 2rem;
}

.blue_green_numbers::after {
    content: "+";
    font-size: 40px;
    font-weight: lighter;
    line-height: 60px;
    vertical-align: middle;
    padding: 0 0.6rem;
}

.blue_green_ad {
    font-size: 18px;
    margin-top: 2rem
}

#hands {
    background-image: url(../img/hands.svg);
}

#blogs {
    background-image: url(../img/blogs.svg);
}

#academy {
    background-image: url(../img/academy.svg);
}

#inbound {
    background-image: url(../img/inbound.svg);
}

#connect {
    background-image: url(../img/connect.svg);
}

#globe {
    background-image: url(../img/globe.svg);
}

#followers {
    background-image: url(../img/followers.svg);
}

#growth {
    background-image: url(../img/growth.svg);
}

/****** /END/ css bluegreen section ******/
.womansection {
    color: #33475b
}

.woman_container {
    height: 100%;
}

.w_upper_row {
    height: 40%;
    text-align: center;    
}

.w_bottom_row {
    height: 60%;
}

.w_square_left {
    height: 100%;
    width: 40%;
    padding: 3rem;
}

.w_square_right {
    width: 60%;
    height: 100%;
}

.w_upper_row>.w_square_right {
    padding: 7rem;
}

.logo_container {
    width: 90%;
}

.logo_row {
    width: 100%;
    padding-bottom: 2rem;
}

.logo_aff {
    width: 18%;
    margin-right: 1rem
}

.w_square_left >h1 p button {
    padding-bottom: 1rem;
}

.w_square_left>h1 {
    font-size: 30px;
}

#w_img {
    background-image: url(../img/woman.webp);
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 60%;
}

/****** css utility rules ******/
.float {
    float: left;
}

.right {
    text-align: right;
}

.page {
    height: 100vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.center {
    width: 80%;
    margin: auto;
}

.note {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.mrg_right_white {
    border-right: 1px solid white;
}
