/****** css common rules ******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    min-width: 1400px;
    
}
/****** /END/ css common rules ******/

/****** css double nav  ******/


.light_bg {
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid black;
}

.col_nav {
    line-height: 10vh;
    vertical-align: middle;
    width: 50%;
}

.col_nav>*:not(button){
    line-height: 10vh;
    vertical-align: middle;
}

.col_nav > ul > li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 1.2rem;
}

.col_nav > ul > i {
    margin-left: 0.5rem
}

.col_nav a {
    text-decoration: none;
    color: #33475b
}

.col_nav .eng {
    margin: 0 1.2rem;
}

.col_nav button {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.brd_orange {
    background-color:  rgb(244, 249, 253);
    border: 1px solid rgb(254, 119, 90);
}

.fill_orange {
    background-color: rgb(254, 119, 90);
    border: none;
}

.brd_orange > a {
    color: rgb(254, 119, 90);
}

.fill_orange > a {
    color: white;
}

.upper_nav img {
    height: 2%;
    width: 2%;
}
/****** /END/ css double nav ******/

/****** css jumbotron ******/

.hero_image {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(70vh - 2px);
}

.hero_titles {
    position: absolute;
    top: 40%;
    left: 10%;
    height: 100px;
    width: 50%;
}

/****** css colored line ******/
.color_line {
    height: 10vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: aquamarine;
}

/****** css light blue section ******/

.cards_section {
    background-color: rgb(244, 249, 253);
    height: 200vh;
}

.box {
    height: 50vh;
    text-align: center;
}

.cubecard {
    height: 100%;
    width: 100%;
    background-color: rosybrown;
}

.cube_img {
    background-image: url(../img/cube.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: royalblue;
    width: 500px;
    height: 200px;
    margin: auto;
}

.learn, .three_cards {
    background-color: slateblue;
    height: 50%;
    padding: 10px;
}

.card {
    background-color: springgreen;
    height: 100%;
}

.col_learn_left {
    width: 30%;
    background-color: slategray;
    height: 100%;
}

.col_learn_right {
    width: 70%;
    height: 100%;
    background-color: violet;
}


/****** css utility rules ******/
.float {
    float: left;
}

.right {
    text-align: right;
}

.page {
    height: 100vh;
}

.relative {
    position: relative;
}

.center {
    width: 80%;
    margin: auto;
}